<button class="btn btn-outline-secondary" onclick="document.getElementById('passwordForm').classList.toggle('d-none')">Змінити пароль</button>

<div id="passwordForm" class="d-none mt-3">
    @Html.Partial("ChangePasswordPartial", new ChangePasswordViewModel())
</div>
